/node_modules
/pnp
/pnp.js
/coverage
.next

npm-debug.log
README.md
.env*

/dist

.env.*

npm-debug.log*
yarn-debug.log*
yarm-error.log*
.pnpm-debug.log*
.vscode/

.vercel

*.tsbuildinfo
next-env.d.ts
